body{
    background: #a9a9a9;
    box-sizing: border-box;
    background: url("../../imgs/abstract-art.gif") center center no-repeat;
    background-size: cover;
    box-shadow:inset  0px 0px 150px #000f33;
    border: 10px solid #000f33;
    overflow: hidden;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}

#ldBar{
    width: 100% !important;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 999999;
}

.top-line, .button-line{
    width: 100%;
    display: inline;
    color: white;
}


.button-1:hover{
    box-shadow: 0px 0px 0px #000000a1;
    transition: 500ms;
}
.button-1{
    transition: 200ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: radial-gradient(circle, blue 0%, darkblue 100%);
    background: url("https://upload.wikimedia.org/wikipedia/commons/a/a9/Flag_of_Thailand.svg") center center no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 40% 10px;
    cursor: pointer;
    font-size: larger;
    margin: 20px;
    box-shadow: 0px 10px 5px #000000aa;
    text-align: center;
    display: none;
    vertical-align: middle;
    z-index: 10000;
}
.button-2:hover{
    box-shadow: 0px 0px 0px #000000a1;
    transition: 500ms;
}
.button-2{
    transition: 200ms;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-image: radial-gradient(circle, blue 0%, darkblue 100%);
    background: url("https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/1200px-Flag_of_Japan.svg.png") center center no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 10px 40%;
    cursor: pointer;
    font-size: large;
    margin: 20px;
    box-shadow: 0px 10px 5px #000000aa;
    text-align: center;
    vertical-align: middle;
    display: none;
    z-index: 10000;
}
.button-3:hover{
    box-shadow: 0px 0px 0px #000000a1;
    transition: 500ms;
}
.button-3{
    transition: 200ms;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: radial-gradient(circle, blue 0%, darkblue 100%);
    background: url("https://m.media-amazon.com/images/I/51TOeJx0-OL._AC_SL1206_.jpg") center center no-repeat;
    background-size: cover;
    color: black;
    font-weight: bold;
    border-radius: 10px 40% 10px 10px;
    cursor: pointer;
    font-size: larger;
    margin: 20px;
    box-shadow: 0px 5px 5px #000000aa;
    text-align: center;
    vertical-align: middle;
    z-index: 10000;
    display: none;
}
.button-4:hover{
    transition: 500ms;
}
.button-4{
    display: none;
    transition: 200ms;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-image: radial-gradient(circle, blue 0%, darkblue 100%);
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/2560px-Flag_of_the_People%27s_Republic_of_China.svg.png") center left no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    border-radius: 40% 10px 10px 10px;
    cursor: pointer;
    font-size: larger;
    margin: 20px;
    text-align: center;
    vertical-align: middle;
    z-index: 10000;
}

.button-1 > p,
.button-2 > p,
.button-3 > p,
.button-4 > p{
    margin: 0 auto;
    padding: 35% 0;
}

#game-init{
    position: relative;
    box-sizing: border-box;
    top: 43%;
}

.result{
    background: #ffffffaa;
    border-radius: 50px 50px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    margin: 0 37.5%;
    box-shadow: 0 -10px 20px #000;
    display: none;
}
.result p{
    margin: 0 auto 40px auto;
    text-align: center;
    color: black;
}

#score-title{
    font-weight: 900;
    margin: 15px 0px -10px 0px;
    font-size: x-large;
    color: #003b8f;
}
#score{
    font-size: 35pt;
    margin: 0px 0px 00px 0px;
    font-weight: bolder;
    color: #0a53be;
}

.image_containter{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    min-height: 100%;
    margin: 0 10%;
    box-shadow: 0 0px 20px #000;
    border: 1px solid #ffffffaa;
    background: radial-gradient(#e6646500, #000000aa);
    border-radius: 5px;
}


#count-down{
    margin-top: 50px;
    width: 60px !important;
    margin: 50px auto;
    border-radius: 100%;
    height: 60px;
    color: #fff !important;
    background: radial-gradient(#e6646500, #000000aa);
    border: 1px solid #fff;
    padding-top: 3px;
}

#img-drp{
    width: 300px;
    border-radius: 10px;
    position: absolute;
    right: 35%;
    top: 0;
}